{% extends "network/layout.html" %}

{% block body %}


{% if user.is_authenticated %}
    {% for post in followers_posts %}
    <div class='container'>
        <div class="card comment-box">
            <div class="card-header">
                <strong><a href="{% url 'user_profile' username=post.author %}">{{post.author}}</a></strong>

                <span class="text-muted">posted {{post.date_created}}</span>
            </div>
            <div class="card-body">
                {{post.content}}
            </div>
        </div>
    </div>

    {% endfor %}
{% endif %}



{% endblock %}